body{
    background-color: rgba(39, 44, 48, 0.712);
    max-width: 25vw; 
    margin-left: auto;
    margin-right: auto;
}
.displayHtml{
    justify-content: right;
    padding:30px;
    outline:auto;
}


.utilitiesCont{
    display:flex;   
    padding:0px;
}
.topRow{
    height:40px;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}



.bottomRow{
    display: flex;
    gap:0px;
    align-items: stretch;
    padding:0px;
    flex-wrap: wrap;
}
.numberButtonCont{
    display: flex;
    flex-wrap:wrap;
    gap:0px;
    flex-grow: 1;    

}
.number{
    height:40px;
    min-width: 33.3%;
    flex-grow: 1;
}
.zero{
    width: 66%;
}


.operandCont{
    display:flex;
    flex-direction: column; 
    align-items: left;
    min-width: 25%;
    
    

}
.operator{
    height:40px;
}

.allButtonCont{
    outline: auto;
}