body{
    background-image : url(images/pov.jpg);
    background-size: 50% 250%;
    background-repeat: no-repeat;
    margin-left: auto;
    background-position: center top;       
    max-width: 25vw; 
    margin-left: auto;
    margin-right: auto;
}
img{
    max-width: 200px;
}
.iphoneWidth{
    max-width: none;
    border-radius: 0px;
}
.displayHtml{
    justify-content: right;
    padding:30px;
    outline:auto;
    background-color: white;
}


.utilitiesCont{
    display:flex;   
    padding:0px;
}
.topRow{
    height:40px;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    border-radius: 0px;
}



.bottomRow{
    display: flex;
    gap:0px;
    padding:0px;
}
.numberButtonCont{
    display: flex;
    flex-wrap:wrap;
    gap:0px;
    flex-grow: 1;    

}
.number{
    height:40px;
    min-width: 33.3%;
    flex-grow: 1;
    border-radius: 0px;
}
.zero{
    width: 66%;
}


.operandCont{
    display:flex;
    flex-direction: column; 
    align-items: left;
    min-width: 25%;
    
    

}
.operator{
    height:40px;
    border-radius: 0px;
}

.allButtonCont{
    outline: auto;
    background-color: white;
}